body{
    color:hotpink
    backgroundhoneydew
    margin0px;
}



header{
    border-bottom: solid 2px rgb(red, green, blue)
    padding: 20px;
    font-size: 32px;
    color: rgb(42,122,288);
}

section{

    background: rgb(red, green, blue);
    padding-bottom: 80px;
    padding-top: 80px;
}